<section class="header-section">
    
    <div class="container">

        <nav class="header-navigation">
            <p class="logo">Order<span>.UK</span></p>
            <svg class="burger-menu-icon" width="40" height="40">
                <use href="../img/svg-icons.svg#icon-menu"></use>
            </svg>
        </nav>
        
    </div>

    <div class="account-info">

        <div class="account">
            <svg class="account-icon" width="40" height="40">
                <use href="../img/svg-icons.svg#icon-account-icon"></use>
            </svg>
            <p class="user-name">Aycan</p>
        </div>
            
        <div class="basket">
            <svg class="basket-icon" width="40" height="40">
                <use href="../img/svg-icons.svg#icon-basket"></use>
            </svg>
            <p class="user-prise">00.00 USD</p>
        </div>

    </div>

</section>